[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/Zinadore/imgui
	branch = docking
[submodule "Hazel/vendor/cxxopts"]
	path = Hazel/vendor/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "Hazel/vendor/json"]
	path = Hazel/vendor/json
	url = git@github.com:nlohmann/json.git
