# Binaries
**/bin/
!vendor/bin/premake/
!TitaniumRose/vendor/assimp/bin
!TitaniumRose/vendor/winpixeventruntime/bin
bin-int/
*.pdb

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.json

Sandbox/imgui.ini

jupyter
captures